{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <section class="media content-section">
        <div class="media-body">
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-2 pt-2"><strong>{{ title }}</strong></h3>
                </div>
            </div>
        </div>
    </section>
    <section class="media content-section">
        <div class="row">
            <div class="col-sm-3 pb-2 pt-2">
                <a class="btn btn-CCL-Blue col-12" href="{% url 'objective-create' %}">Add An Objective</a>
            </div>
        </div>
    </section>
    <section class="media content-section text-CCL-Gold d-none d-xl-block">
        <div class="row pt-2">
            <div class="col-sm-6">
                <h6><strong>Objective</strong></h6>
            </div>
            <div class="col-sm-3">
                <h6><strong>Service Group</strong></h6>
            </div>
            <div class="col-sm-3">
                <h6><strong>Development Template</strong></h6>
            </div>
        </div>
    </section>
    {% for objective in objectives %}
    <section class="list-group-item list-group-item-light {% cycle 'row1' 'row2' %} text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-sm-6">
                <p><strong><a href="{% url 'objective' objective.id %}" class="text-CCL-Blue">{{ objective.objective }}</a></strong></p>
            </div>
            <div class="col-sm-3">
                {{ objective.service_group }}
            </div>
            <div class="col-sm-3">
                {{ objective.objective_development_template }}
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock content %}