{% extends 'base.html' %}
{% load static %}
{% block title %}
    LEE entry: {{ LEE.process_role }}
{% endblock %}
{% block content %}

    {% if messages %}
        <section>
            <div>
                <p class="alert-{{ message.tags }}">
                    {{ message }}
                </p>
            </div>
        </section>
    {% endif %}

    <section class="media content-section">
        <h3><strong>Process Role: {{ LEE.process_role }}</strong></h3>
    </section>
    <section class="media content-section text-CCL-Gold">
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Whurthy Application: </strong>{{ LEE.whurthy_application }}</p>
            </div>
            <div class="col-sm-6">
                <p><strong>Whurthy File: </strong>{{ LEE.whurthy_application }}</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col">
                <p><strong>Process Description</strong></p>
                {{ LEE.process_description|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Entry Owner: </strong>{{ LEE.entry_owner }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Process Code: </strong>{{ LEE.process_code }}</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col">
                <p><strong>Process Outcome:</strong></p>
                {{ LEE.process_outcome|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 pb-2">
                <a href="{% url 'support-lee' %}" class="btn btn-outline-CCL-Blue col-12">Go Back</a>
            </div>
            {% if user.is_staff %}
            <div class="col-sm-3"></div>
            <div class="col-sm-2 text-center pb-2">
                <a href="{% url 'support-lee-update' LEE.id %}" class="btn btn-CCL-Blue col-12">Edit LEE Entry</a>
            </div>
            {% endif %}
            {% if user.is_superuser %}
            <div class="col-sm-3"></div>
            <div class="col-sm-2 pb-2">
                <a href="{% url 'support-lee-delete' LEE.id %}" class="btn btn-outline-danger col-12">Delete LEE Entry</a>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}