{% extends 'base.html' %}
{% load static %}
{% block title %}
    PEeP entry: {{ peep.process_function }}
{% endblock %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h4 class="article-title pb-2 pt-2">
                <strong>Process Function: {{ peep.process_function }}</strong>
            </h4>
        </div>
    </article>
    <article class="media content-section text-CCL-Gold">
        <div class="row pt-2">
            <div class="col-sm-6">
                <p><strong>Process Code: </strong>{{ peep.process_code }}</p>
            </div>
            <div class="col-sm-6">
                <p><strong>Service Group: </strong>{{ peep.service_group }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><strong>Responsible: </strong>{{ peep.responsible }}</p>
            </div>
            <div class="col-sm-6">
                <p><strong>Display Name: </strong>{{ peep.display_name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><strong>Detailed Description:</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col padding-below-element">
                {{ peep.detailed_description|safe }}
            </div>
        </div>
        <div class="row pb-2 pt-4">
            <div class="col-sm-2">
                <a href="{% url 'support-peeps' %}" class="btn btn-outline-CCL-Blue col-12">Go Back</a>
            </div>
            {% if user.is_staff %}
            <div class="col-sm-3"></div>
            <div class="col-sm-2 text-center pb-2">
                <a href="{% url 'support-peep-update' peep.id %}" class="btn btn-CCL-Blue col-12">Edit PEeP Entry</a>
            </div>
            {% endif %}
            {% if user.is_superuser %}
            <div class="col-sm-3"></div>
            <div class="col-sm-2 pb-2">
                <a href="{% url 'support-peep-delete' peep.id %}" class="btn btn-outline-danger col-12">Delete PEeP Entry</a>
            </div>
            {% endif %}
        </div>
    </article>
{% endblock %}